/nexys_lin_true_sd19/dma_2_ws_
/nexys_lin_true_sd19/NEW_ws_D
/nexys_lin_true_sd19/WEB_S_DMA_LED_BTN
/nexys_lin_true_sd19/workspace
/nexys_lin_true_sd19/workspace_DMA
/nexys_lin_true_sd19/workspace_gpio
/nexys_lin_true_sd19/ws_FS
/nexys_lin_true_sd19/ws_fs3
/nexys_lin_true_sd19/ws_fs3_FR
/nexys_lin_true_sd19/2_W_S_DMA_64
/nexys_lin_true_sd19/2_WEB_S_DMA_L_B
/nexys_lin_true_sd19/1105
*.jou
*.log
